body {
	background-color: #40627C;
	font-family: 'Bree Serif'
}

button {
	background-color: #D0A825;
	border: 2px solid #E8E595;
	padding: 7px;
}

button:hover {
	background-color: #E8E595;
}

/**********************************
Search Overlay
**********************************/

.overlay-bg,
.overlay-content {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    /* cursor: pointer; */
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}

.overlay-content {
    display: none;
    left: 0;
    right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #D0A825;
    padding: 1%;
    position: absolute;
    cursor: default;
    z-index: 10001;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

/**********************************
HEADER
**********************************/

#header {
	width: 100%;
	height: 110px;
	background-color: #26393D;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

#title {
	float: right;
}

#title h2 {
	padding: 0;
	margin: 20px 77px 25px 0px;
	font-size: 3em;
	font-family: 'Bree Serif', serif;
	color: #D0A825;
}

#break-timer {
	float: left;
	height: 45px;
	width: 575px;
	padding: 0;
	border: 2px solid #D0A825;
	margin: 35px 0px 30px 5%;
	background-color: #FFFAE4;
	font-family: 'Open Sans';
	font-weight: bold;
}

#clock {
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
	padding-bottom: 5px;
}

#clock-icon {
	height: 25px;
	width: 25px;
}

#time {
	display: inline-block;
	vertical-align: top;
	padding: 13px;
}

.clock-text {
	display: inline-block;
	padding-right: 20px;
	padding-left: 15px;
	font-size: 1.2em;
}

.timezone-text {
	font-size: 0.7em;
	padding-left: 5px;
	display: inline-block;
	color: #26393D;
}

/**********************************
Contents
**********************************/

#contents {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;         
	clear: both;
	padding-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	width: 90%
}

#text-area {
	display: inline-block;
	padding: 25px;
	margin-right: 2%;
	float: left;
	font-family: 'Open Sans';
	font-size: 0.8em;
	border: none;
	background-color: #E8E595;
	outline: 2px solid #FFFAE4;
	line-height: 125%;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

textarea {
	width: 47%;
	resize: vertical;
}

#contents textarea:focus {
    outline: 2px solid #D0A825;
}

::selection {
  background-color: #D0A825;
  text-shadow: none;
}

#button-area {
	display: inline-block;
	margin-left: 2%;
	padding: 20px;
	width: 380px;
	height: 586px;
	background-color: #26393D;
}

.rightmenu-title {
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	position: relative;
	display: block;
	background-color: #E8E595;
	text-align: center;
	z-index: 0;
}

#applications-title,
#usefulinfo-title {
	margin-top: 10px;
	position: relative;
	z-index: 0;
}

#usefulinfo-title {

}

/**********************************
Div properties
**********************************/

.dropdown {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 2;
}

/**********************************
List styles
**********************************/

.dropdown-wrapper {
	width: 100%;
	height: 40px;
	padding-bottom: 90px;
}

ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 7em;
}

ul li a {
	display: block;
	padding: .3em .6em .3em .5em;
	font-family: 'Open Sans';
	font-size: .8em;
	text-decoration: none;
	color: #26393D;
}

.dropdown-head {
	border: 1px solid #FFFAE4;
	background-color: #D0A825;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	margin: 5px;
}

.dropdown-head:hover {
	background-color: #E5B839;
}

.dropdown-items {
	background-color: #E8E595;
	display: none;
	position: relative;
	z-index: 2;
}

.dropdown-items a:hover {
	background-color: #40627C;
	color: #FFFAE4;
}

/**********************************
Footer
**********************************/

 #footer {
 	box-sizing: border-box;
 	width: 100%;
 	height: 1100px;
 	background-color: #D0A825;
 	margin-top: 100px;
 	padding: 60px;
 	-webkit-box-shadow: -2px -2px 4px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: -2px -2px 4px 0 rgba(0,0,0,0.75);
	box-shadow: -2px -2px 4px 0 rgba(0,0,0,0.75);
 }

/**********************************
Table 1
**********************************/

#table-wrapper {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

table {
	font-family: 'Open Sans';
	font-size: 0.8em;
	margin-left:auto; 
    margin-right:auto;
    display: inline-block;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
}

#contact-table {
	margin-bottom: 10px;
}

table tr th, 
table tr td {
	padding: 8px 10px;
}

thead {
	background-color: #26393D;
	color: #FFFAE4;
}

tbody tr td:nth-child(odd) {
	background-color: #E8E595;
	color: #26393D;
}

tbody tr td:nth-child(even) {
	background-color: #40627C;
	color: #E8E595;
}

.center-align {
	text-align: center;
}