body {
	background-color: #40627C;
	font-family: 'Bree Serif'
}

button {
	background-color: #D0A825;
	border: 2px solid #E8E595;
	padding: 7px;
}

button:hover {
	background-color: #E8E595;
}

/**********************************
HEADER
**********************************/

#header {
	width: 100%;
	height: 110px;
	background-color: #26393D;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

#title {
	float: right;
}

#title h2 {
	padding: 0;
	margin: 20px 77px 25px 0px;
	font-size: 3em;
	font-family: 'Bree Serif', serif;
	color: #D0A825;
}

#break-timer {
	float: left;
	height: 45px;
	width: 300px;
	padding: 0;
	border: 2px solid #D0A825;
	margin: 35px 0px 30px 5%;
	background-color: #FFFAE4;
}

#time {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
}

#time span {

}

/**********************************
Contents
**********************************/

#contents {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;         
	clear: both;
	padding-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	width: 90%
}

#text-area {
	display: inline-block;
	padding: 25px;
	margin-right: 2%;
	float: left;
	font-family: 'Open Sans';
	font-size: 0.8em;
	border: none;
	background-color: #E8E595;
	outline: 2px solid #FFFAE4;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

textarea {
	width: 47%;
}

#contents textarea:focus {
    outline: 2px solid #D0A825;
}

::selection {
  background-color: #D0A825;
  text-shadow: none;
}

#button-area {
	display: inline-block;
	margin-left: 2%;
	padding: 20px;
	width: 40%;
	height: 586px;
	background-color: #26393D;
}

.rightmenu-title {
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	position: relative;
	display: block;
	background-color: #E8E595;
	text-align: center;
	z-index: 0;
}

#applications-title {
	margin-top: 10px;
	position: relative;
	z-index: 0;
}

/**********************************
Div properties
**********************************/

.dropdown {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 2;
}

/**********************************
List styles
**********************************/

.dropdown-wrapper {
	width: 100%;
	height: 40px;
}

ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 7em;
}

ul li a {
	display: block;
	padding: .3em .6em .3em .5em;
	font-family: 'Open Sans';
	font-size: .8em;
	text-decoration: none;
	color: #26393D;
}

.dropdown-head {
	border: 1px solid #FFFAE4;
	background-color: #D0A825;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.75);
	margin: 5px;
}

.dropdown-head:hover {
	background-color: #E5B839;
}

.dropdown-items {
	background-color: #E8E595;
	display: none;
	position: relative;
	z-index: 2;
}

.dropdown-items a:hover {
	background-color: #40627C;
	color: #FFFAE4;
}

/**********************************
List styles
**********************************/
 #footer {
 	width: 90%;
 	height: 700px;
 	background-color: #D0A825;
 	margin-top: 100px;
 	margin-right: 5%;
 	margin-left: 5%;
 }